In [1]:
print('Hello')

Hello

# How to assign the value

In [2]:
a = 10
print(a)
b = 'Basic Python'
print(b)

10
Basic Python

# Data type in Python

## Numeric

In [3]:
# convert int into float
a = 10
b = float(a)
print(b)

10.0

In [4]:
# convert float into int
a = 10.34
b = int(a)
print(b)

10

## List

In [5]:
sub = ['C', 'C++', 'Python', 'Java', 5]
print(sub)

['C', 'C++', 'Python', 'Java', 5]

In [6]:
# Indexing from the List
sub = ['C', 'C++', 'Python', 'Java', 5]
print(sub[0])

C

In [7]:
# indexing more than one element from the list
sub = ['C', 'C++', 'Python', 'Java', 5]
print(sub[0:3])

['C', 'C++', 'Python']

In [8]:
# indexing backward from list
sub = ['C', 'C++', 'Python', 'Java', 5]
print(sub[-1])

5

In [9]:
# reverse the list
sub = ['C', 'C++', 'Python', 'Java', 5]
print(sub[::-1])

[5, 'Java', 'Python', 'C++', 'C']

In [10]:
# update into the list
sub = ['C', 'C++', 'Python', 'Java', 5]
sub[4] = 'HTML'
print(sub)

['C', 'C++', 'Python', 'Java', 'HTML']

In [11]:
# delete from the list
sub = ['C', 'C++', 'Python', 'Java', 5]
del sub[4]
print(sub)

['C', 'C++', 'Python', 'Java']

In [12]:
# length of the list
sub = ['C', 'C++', 'Python', 'Java', 5]
len(sub)

5

In [13]:
# repeat the list twice time
sub = ['C', 'C++', 'Python', 'Java', 5]
print(sub*2)

['C', 'C++', 'Python', 'Java', 5, 'C', 'C++', 'Python', 'Java', 5]

## Tuple

In [14]:
sub = ('C', 'C++', 'Python', 'Java', 5)
print(sub)

('C', 'C++', 'Python', 'Java', 5)

In [15]:
# indexing from the tuple
sub = ('C', 'C++', 'Python', 'Java', 5)
print(sub[0])

C

In [16]:
# indexing more than one element from the tuple
sub = ('C', 'C++', 'Python', 'Java', 5)
print(sub[0:3])

('C', 'C++', 'Python')

In [17]:
# indexing backward from the tuple
sub = ('C', 'C++', 'Python', 'Java', 5)
print(sub[-1])

5

In [18]:
# reverse the tuple
sub = ('C', 'C++', 'Python', 'Java', 5)
print(sub[::-1])

(5, 'Java', 'Python', 'C++', 'C')

In [19]:
# length of the tuple
sub = ('C', 'C++', 'Python', 'Java', 5)
len(sub)

5

In [20]:
# trice the tuple by repeat same tuple
sub = ('C', 'C++', 'Python', 'Java', 5)
print(sub*2)

('C', 'C++', 'Python', 'Java', 5, 'C', 'C++', 'Python', 'Java', 5)

## Strings

In [21]:
S = 'How to learn Python'
print(S)

How to learn Python

In [22]:
# length of the string
S = 'How to learn Python'
print(len(S))

19

In [23]:
# locate a character in the string
S = 'How to learn Python'
print(S.index("learn"))

7

In [24]:
# Count the number of times a character is repeated in a String
S = 'How to learn Python and learn Machine Learning'
print(S.count("learn"))

2

In [25]:
# Slicing the string
S = 'How to learn Python'
print(S[0:7])

How to

In [26]:
# reverse the string
S = 'How to learn Python'
print(S[::-1])

nohtyP nrael ot woH

In [27]:
# convert the letter in a string into Upper Case
S = 'How to learn Python'
print(S.upper())

HOW TO LEARN PYTHON

In [28]:
# Convert the letter in a string into Lower Case
S = 'How to learn Python'
print(S.lower())

how to learn python

## Set

In [29]:
set = {1,2,3,4,5,6}
print(set)
set_2 = {1,2,3,3}
print(set_2)

{1, 2, 3, 4, 5, 6}
{1, 2, 3}

In [30]:
# Loop through the set, and print the values
set = {1,2,3,4,5,6}
for x in set:
    print(x)

1
2
3
4
5
6

In [31]:
#Check if 7 is present in the set
set = {1,2,3,4,5,6}
print("7" in set)

False

In [32]:
#Add an item to a set, using the add() method
set = {1,2,3,4,5,6}
set.add(7)
print(set)

{1, 2, 3, 4, 5, 6, 7}

In [33]:
# Add multiple items to a set, using the update() method
set = {1,2,3,4,5,6}
set.update([7,8,9])
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [34]:
# length of the set
set = {1,2,3,4,5,6}
print(len(set))

6

In [35]:
# Remove "banana" by using the discard() method
set = {1,2,3,4,5,6}
set.discard(6)
print(set)

{1, 2, 3, 4, 5}

In [36]:
# Remove "banana" by using the remove() method
set = {1,2,3,4,5,6}
set.remove(4)
print(set)

{1, 2, 3, 5, 6}

In [37]:
# Remove the last item by using the pop() method
set = {1,2,3,4,5,6}
x = set.pop()
print(set)

{2, 3, 4, 5, 6}

In [38]:
# The clear() method empties the set
set = {1,2,3,4,5,6}
set.clear()
print(set)

set()

In [39]:
# The del keyword will delete the set completely
set = {1,2,3,4,5,6}
del set
print(set)

<class 'set'>

In [40]:
# Union of two sets A & B
A = {1,2,3,4,5,6}
B = {3,4,5,6,7,8,9}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [41]:
# intersection of two sets A & B
A = {1,2,3,4,5,6}
B = {3,4,5,6,7,8,9}
print(A & B)

{3, 4, 5, 6}

In [42]:
# difference between two sets A & B
A = {1,2,3,4,5,6}
B = {3,4,5,6,7,8,9}
print(A-B)

{1, 2}

In [43]:
# Symmertic Difference between two sets A & B
A = {1,2,3,4,5,6}
B = {3,4,5,6,7,8,9}
print(A^B)

{1, 2, 7, 8, 9}

## Dictionary

In [44]:
dict = {'Name' : 'Gaurav', 'Age' : 23}
print(dict)

{'Name': 'Gaurav', 'Age': 23}

In [45]:
# Access elements from a dictionary
dict = {'Name' : 'Gaurav', 'Age' : 23}
print(dict['Name'])
print(dict.get('Name'))

Gaurav
Gaurav

In [46]:
# add new element in a Dictionary
dict = {'Name' : 'Gaurav', 'Age' : 23}
dict['Address'] = 'NANAUTA'
print(dict)

{'Name': 'Gaurav', 'Age': 23, 'Address': 'NANAUTA'}

In [47]:
# Changing or update element in a Dictionary
dict = {'Name' : 'Gaurav', 'Age' : 23}
dict['Age'] = 22
print(dict)

{'Name': 'Gaurav', 'Age': 22}

In [48]:
# length of Dictionary
dict = {'Name' : 'Gaurav', 'Age' : 23}
print(len(dict))

2

In [49]:
# remove element by pop method
dict = {'Name' : 'Gaurav', 'Age' : 23}
dict.pop('Name')
print(dict)

{'Age': 23}

In [50]:
# The popitem() method removes the last inserted item
dict = {'Name' : 'Gaurav', 'Age' : 23}
dict.popitem()
print(dict)

{'Name': 'Gaurav'}

In [51]:
# The del keyword removes the item with the specified key name
dict = {'Name' : 'Gaurav', 'Age' : 23}
del dict['Name']
print(dict)

{'Age': 23}

In [52]:
# The del keyword can also delete the dictionary completely
dict = {'Name' : 'Gaurav', 'Age' : 23}
del dict
print(dict)

<class 'dict'>

In [53]:
# The clear() method empties the dictionary
dict = {'Name' : 'Gaurav', 'Age' : 23}
dict.clear()
print(dict)

{}

# Operators in Python

## Arithmetic Operators

In [54]:
# Addition
a = 12
b = 34
c = a + b
print(c)

46

In [55]:
# Subtraction
a = 34
b = 12
c = a - b
print(c)

22

In [56]:
# Multiplication
a = 34
b = 12
c = a * b
print(c)

408

In [57]:
# Division
a = 34
b = 12
c = a / b
print(c)

2.8333333333333335

In [58]:
# Modulus
a = 34
b = 12
c = a % b
print(c)

10

In [59]:
# Exponent
a = 34
b = 12
c = a**b
print(c)

2386420683693101056

## Comparison Operators

In [60]:
# If the values of two operands are equal, then the condition becomes true
a = 22
b = 12
if(a==b):
    print('a is equal to b')
else:
    print('a is not equal to b')

a is not equal to b

In [61]:
# If values of two operands are not equal, then condition becomes true
a = 22
b = 12
if(a!=b):
    print('a is not equal to b')
else:
    print('a is equal to b')

a is not equal to b

In [62]:
# If the value of left operand is greater than the value of right operand, then condition becomes true
a = 22
b = 12
if(a<b):
    print('a is less than b')
else:
    print('a is greater than b')

a is greater than b

In [63]:
# If the value of left operand is less than the value of right operand, then condition becomes true
a = 22
b = 12
if(a>b):
    print('a is greater than b')
else:
    print('a is less than b')

a is greater than b

In [64]:
# If the value of left operand is greater than or equal to the value of right operand, then condition becomes true
a = 5
b = 20
if(a<=b):
    print ("a is either less than or equal to b")
else: 
    print ("a is neither less than nor equal to b")

a is either less than or equal to b

In [65]:
# If the value of left operand is less than or equal to the value of right operand, then condition becomes true
a = 5
b = 20
if(a>=b):
    print ("a is either greater than  or equal to b")
else:
    print("a is neither greater than  nor equal to b")

a is neither greater than  nor equal to b

## Assignment Operators

In [66]:
# Assigns values from right side operands to left side operand
a = 21
b = 10
c = a+b
print(c)

31

In [67]:
# It adds right operand to the left operand and assign the result to left operand
a = 21
b = 10
c += a
print(c)

52

In [68]:
# It subtracts right operand from the left operand and assign the result to left operand
a = 21
b = 10
c -= a
print(c)

31

In [69]:
# It multiplies right operand with the left operand and assign the result to left operand
a = 21
b = 10
c *= a
print(c)

651

In [70]:
# It divides left operand with the right operand and assign the result to left operand
a = 21
b = 10
c /= b
print(c)

65.1

In [71]:
# It takes modulus using two operands and assign the result to left operand
a = 21
b = 11
c = 2
c %= a
print(c)

2

In [72]:
# Performs exponential (power) calculation on operators and assign value to the left operand
a = 21
b = 10
c = 2
c **= a
print(c)

2097152

## Bitwise Operators

In [73]:
# Binary AND Operator
a = 58
b = 13
c = a & b
print(c)

8

In [74]:
# Binary OR Operator
a = 58
b = 13
c = a | b
print(c)

63

In [75]:
# Binary XOR Operator
a = 58
b = 14
c = a ^ b
print(c)

52

In [76]:
# Binary Left Shift Operator
a = 58
b = 14
c = a << 2
print(c)

232

In [77]:
# Binary Right Shift Operator
a = 58
b = 14
c = b >> 2
print(c)

3

## Logical Operators

In [78]:
# Logical AND operator
a = True
b = False
c = a and b
print('a and b is',c)

a and b is False

In [79]:
# Logical OR operator
a = True
b = False
c = a or b
print('a and b is',c)

a and b is True

In [80]:
# Logical NOT operator
a = True
b = False
c = not b
print('a and b is',c)

a and b is True

## Membership Operators

In [81]:
# 'in' operator (True if value/variable is found in the sequence)
A = [1,2,3,4,5,6,7,8,9]
B = 5
print(B in A)

True

In [82]:
# 'not in' operator (True if value/variable is not found in the sequence)
A = [1,2,3,4,5,6,7,8,9]
B = 5
print(B not in A)

False

## Identity Operators

In [83]:
# 'is' operator (True if the operands are identical)
X1 = 'My name is Gaurav!'
X2 = 1234
Y1 = 'My name is Gaurav!'
Y2 = 1234
print(X1 is Y1)
print(X1 is X2)

False
False

In [84]:
# 'is not' operator (True if the operands are not identical)
X1 = 'My name is Gaurav!'
X2 = 1234
Y1 = 'My name is Gaurav!'
Y2 = 1234
print(X1 is not Y1)
print(X1 is not Y2)

True
True

# Conditional Statements

In [85]:
A = 45
B = 67
if A < B:
    print('A is less than B')
elif A > B:
    print('A is greater than B')
else:
    print('A and B are equal')

A is less than B

# Loops

## While Loop

In [86]:
c = 0
while(c < 10):
    print(c)
    c = c + 1
print('Good Bye')

0
1
2
3
4
5
6
7
8
9
Good Bye

## For Loop

In [87]:
s = [1,2,3,4,5,6]
for index in range(len(s)):
    print(s[index])

1
2
3
4
5
6

## Nested Loop

In [88]:
count = 1
for i in range(10):
    print(str(i)*i)
    for j in range(0,i):
        count = count +1

1
22
333
4444
55555
666666
7777777
88888888
999999999

# Functions

In [89]:
def add(a,b):
    return a + b
c = add(20,30)
print(c)

50